body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
        /* By changing the display to flex incorporates the Flex Framework to use and change */
    display: flex;
    /* flex: left; */
}

#container div{
    width: 200px;
    height: 200px;
}

